# Ignore all files by default, but scan all directories
*
!*/

!*.zig
!*.hlsl
!LICENSE*
!*.md
!*.png

!.ignore
!.gitkeep
!.gitignore
!.gitattributes

!bin/**

# Ignore some special directories
zig-cache
zig-out
